.md-container > h1, .md-container > h2, .md-contaienr > h3 {
	color: #191919;
}

.md-container > h1 {
	font-size: 2.5rem;
	margin: 18px 0px;
}

.md-container > h2 {
	font-size: 1.8rem;
	margin: 20px 0px;
}

.md-container > h3 {
	color: #1d1d1d;
	font-size: 1.4rem;
	margin: 15px 0px 8px 0px;
}

.md-container > p, .md-container > ul {
	font-size: 1.3rem;
	line-height: 1.5;
	margin: 0px;
	font-family: sans-serif;
}

.md-container > p > img {
	display: block;
	margin: 10px auto;
	max-width: 95%;
}

.md-container > blockquote {
	background-color: #f1f0f0;
	margin: 0;
	padding: 16px 40px;
	position: relative;
}

.md-container > blockquote::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 10px;
	background-color: #717171;
}

/*Breakpoint for MD devices*/
@media screen and (max-width: 1280px) {
	.md-container > h1 {
		font-size: 2rem;
		margin: 15px 0px;
	}

	.md-container > h2 {
		font-size: 1.6rem;
		margin: 12px 0px;
	}

	.md-container > h3 {
		font-size: 1.3rem;
		margin: 10px 0px 6px 0px;
	}

	.md-container > p, .md-container > ul {
		font-size: 1.25rem;
		line-height: 1.3;
	}
}

/*Breakpoint for SM devices*/
@media screen and (max-width: 960px) {
	.md-container > h1 {
		font-size: 1.75rem;
	}

	.md-container > h2 {
		font-size: 1.4rem;
	}

	.md-container > h3 {
		font-size: 1.1rem;
	}

	.md-container > p, .md-container > ul {
		font-size: 1.2rem;
	}
}

/*Breakpoint for XS devices*/
@media screen and (max-width: 600px) {
	.md-container > h1 {
		font-size: 1.5rem;
	}

	.md-container > h2 {
		font-size: 1.3rem;
	}

	.md-container > p, .md-container > ul {
		font-size: 1.1rem;
	}
}