@font-face {
	font-family: agencyFB;
	src: url(/Fonts/agency.ttf);
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: agencyFB, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
